name: build

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "src/**"
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    env:
      TEST_ASSETS_PATH: ${{ github.workspace }}/assets

    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Display .NET info
        run: dotnet --info

      - name: Auth Github
        run: dotnet nuget update source github --username suzu-devworks --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text

      - name: Install Tools
        run: dotnet tool restore
      - name: Install dependencies
        run: dotnet restore --locked-mode
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test assets scripts
        run: |
          set -e
          ./scripts/openssl-generate.sh ${{ env.TEST_ASSETS_PATH }}
        timeout-minutes: 1
      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal
        env:
          TEST_ASSETS_PATH: ${{ env.TEST_ASSETS_PATH }}